
h2 {
    margin-top: 40px;
}


.cardContainer {

    width: 100%;
    height: 100%;
    margin-top: 40px;
    padding-bottom: 100px;
    background-color: #e4ebef;
}
.cardContainer p {

    color: #666666;
    font-size: 16px;
}
.cardContainer a {
    color: #00C1CF;
    font-weight: bold;
    text-decoration: none;
}
p:last-child:hover a{
    font-weight: 700;
    color: #333333;
    transition: 1s;
}