.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10rem;
    padding-bottom: 7rem;
    padding-top: 6em;
    margin-top: 40px;
    margin-left: 50px;
    width: 100%;
    height: 100%;
}
.wrapper h2 {
    font-size: 26px;
    font-weight: 400;
}
.wrapper p {
    margin-top: 35px;
    font-size: 14px;
    color: #666666;
}
.wrapper p:last-child a {
    background-color: #f4aa3b;
    color: #ffffff;
    text-decoration: none;
    border-radius: 3px;
    padding: 10px 15px;
}
