
h2 {
    margin-top: 40px;
}
.cardContainer p {
    color: #666666;
    font-size: 16px;
}
.sectionTitle {
    margin-top: 50px;
    text-align: center;
    color: #53504c;
    min-height: 40px;
    margin-bottom: 40px;
}
.infoTitle {
    position: relative;

}
.infoTitle:after {

    content: "";
    position: absolute;
    left: 50%;
    bottom: -20px;
    width: 30px;
    height: 4px;
    background: #919191;
    margin-left: -15px;
}

.image {
    width: 100%;

}
.wrapperInfo {
    background: url(../../../assets/homeCardImage/image-sub.jpeg);
position: relative;

}
.wrapperInner {
    position: absolute;

    top: 0;
    margin: 0 auto;
    align-items: center;
    color:#ffffff;
}

